<h1>Interstellar Explorer</h1>
<p>
  Welcome explorer! You are about to embark on a mission to explore new planets across the galaxy. Once you have explored the planets in our solar system, you may add new planets to explore. As you are the first human to ever venture this far, you may name the planets whatever you wish!
</p>



<ul id="unexList">
  <h2>Planets waiting to be explored!</h2>
  {{#each planets}}
    {{#unless explored}}
      {{> planet-block unexplored=true}}
    {{/unless}}
  {{/each}}
</ul>



<ul id="exList">
  <h2>Planets that are already explored!</h2>
  {{#each planets}}
    {{#if explored}}
      {{> planet-block unexplored=false}}
    {{/if}}
  {{/each}}
</ul>


<form class="create-form">
  <h3>Add a Planet</h3>

  <div class="form-group">
    <label for="plan">Planet Name:</label>
    <input type="text" id="plan" name="name">

    <label for="size">Planet Size (in earth's masses)</label>
    <input type="text" id="size" name="mass">

    <label for="color">Planet Color</label>
    <input type="text" id="color" name="col">

  </div>

  <div class="form-group">
    <label for="sleepy">Is this planet a Gas Giant or a Terrestrial (rocky) planet?</label><br>
    <input type="radio" name="gas" value="1" checked>Gas Giant<br>
    <input type="radio" name="gas" value="0"> Terrestrial
  </div>

  <button type="submit">Add Planet</button>
</form>
