ul{
  list-style: none;
}

p {
  color: white;
}

li {
  padding: 5px;
  margin: 5px;
  background: blueviolet;
  color: yellow;
}
  
.label {
  font-weight: bold;
}
  
.create-form {

  padding: 5px;
  margin: 5px;
  background: aqua;
  overflow: auto;
  clear: both;
}
  
.form-group {
  margin-bottom: 5px;
}

button {
  background-color: black;
  color: white;
}

#unexList {
  float: left;
}

#exList {
  float: left;
  left: 300px;
}

h1 {
  text-align: center;
}

body {
  background-image: url("../spaceResize3.jpg");
}

h1 {
  color: white;
}

h2 {
  color: white;
}